.juno-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    text-align: center;
}
.navigation-item{
    padding: 15px;
    color: white;
}
.navigation-item:hover{
    cursor: pointer;
    background-color: #80808017;
    transition: background-color 200ms ease-in-out;
}
.navigation-item-active{
    background-color: #000000;
    transition: background-color 200ms ease-in-out;
    font-weight: 900;
}
html{
    overflow: hidden;
}